#Fire Extinguisher Configuration
#Tue Jun 02 03:19:26 EDT 2026
fireProtectionLightEnabled=true
fireBootsSlowDownEnabled=true
fireAxtRadius=1
fireProtectionDuration=45
fireLeggingsSlowDownEnabled=true
fireProtectionEnabled=true
fireProtectionRenew=80
fireChestplateSlowDownEnabled=true
fireExtinguisherRadiusX=1
fireExtinguisherRadiusY=2
fireExtinguisherRadiusZ=1
fireProtectionLightDuration=25
fireProtectionLightRenew=40
fireSprinklerRadiusX=2
fireSprinklerRadiusY=4
smokeDetectorRadiusX=3
fireSprinklerRadiusZ=2
smokeDetectorRadiusY=5
smokeDetectorRadiusZ=3
